.footer__container
    .footer__ad
        ul
            li
                a(href="https://www.youtube.com/channel/UCfeZWiDeaRPPd_dEn1h7kAA") 미도카 유투버
            li
                a(href="https://car365.go.kr/") 국토교통부 제공 중고차 매물차량 정보 검색사이트