extend layouts/main

block content

    .admin
        input(class="admin__input", id="admin__input", type="text")
        button(id="admin__button") Update
        h3#return__value None
        script(src="/static/main.js")