extend layouts/main

block content

    .admin
        input(class="admin__input", id="admin__input", type="text")
        button#admin__button
        h3#return__value None
        script(src="/static/main.js")