.delayBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 100px;
}

.moving {
  background-color: rgb(33, 170, 170);
  width: 10px;
  height: 30px;
  animation: jumpingBlock 1s infinite ease-in-out;
}

#moveBar1 {
  width: 10px;
  height: 30px;
  animation-delay: 0.1s;
}

#moveBar2 {
  width: 10px;
  height: 30px;
  animation-delay: 0.2s;
}

#moveBar3 {
  width: 10px;
  height: 30px;
  animation-delay: 0.3s;
}
#moveBar4 {
  width: 10px;
  height: 30px;
  animation-delay: 0.4s;
}
#moveBar5 {
  width: 10px;
  height: 30px;
  animation-delay: 0.5s;
}

@keyframes jumpingBlock {
  0% {
    transform: none;
  }
  25% {
    transform: scale(1, 3);
  }
  50% {
    transform: none;
  }
}
